<div class="box box-info">
    <div class="box-header">
        <h3 class="box-title">History Pembayaran Uang Pendaftaran</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        @{Html.RenderPartial("Create_hist_list");}
    </div><!-- /.box-body -->
    <div class="box-footer">
    </div><!-- /.box-footer -->
</div><!-- /.box -->
