@using (Html.BeginForm("Index", "Transaction_inreg", FormMethod.Post)) {
    <div class="box box-info">
        <div class="box-header">
            <h3 class="box-title">Filter Data Calon Siswa</h3>
            <div class="box-tools">
            </div>
        </div><!-- /.box-header -->
        <div class="box-body table-responsive">
            @{Html.RenderPartial("Index_filter_items");}
        </div><!-- /.box-body -->
        <div class="box-footer">
            <button type="submit" id="btnSubmit" name="btnSubmit" class="btn btn-success btn-flat"> <i class="fa fa-bars"></i> View Siswa</button>
        </div><!-- /.box-footer -->
    </div><!-- /.box -->
} <!-- End form -->
