@model APPBASE.Models.AnnouncementdetailVM
@using APPBASE.Helpers
@using APPBASE.Svcbiz

@{
    ViewBag.Title = Model.TITLE;
    if (hlpConfig.SessionInfo.getAppRoleId() == valFLAG.FLAG_ROLE_P) { Layout = "~/Views/Shared/_Layout2cols.cshtml"; }
    else if (hlpConfig.SessionInfo.getAppRoleId() == valFLAG.FLAG_ROLE_CT) { Layout = "~/Views/Shared/_Layout2cols.cshtml"; }
    else { Layout = "~/Views/Shared/_Layout.cshtml"; }
    
}
@section includeBOTTOM {
    @Scripts.Render("~/bundles/JSInputMask")
}


@if (ViewBag.CRUDSavedOrDelete == valFLAG.FLAG_TRUE) {
      Html.RenderPartial("_PartialConfirmSaved"); 
}

<div class="box box-info">
    <div class="box-header">
        <h3 class="box-title"></h3>
        
    </div><!-- /.box-header -->
    <div class="box-body">
        <h4><i class="fa fa-clock-o"></i> @hlpConvertionAndFormating.ConvertDateToStringDayIDLongFmt(Model.DATEFROM)</h4>
        <p>@Model.FULL_DESC</p>
        
    </div><!-- /.box-body -->
    <div class="box-footer">
    </div><!-- /.box-footer -->
</div><!-- /.box -->

@section scripts {

<!-- Modal -->
@{Html.RenderPartial("_Events");}

}
