@{
    ViewBag.Title = "Hapus Pembayaran SPP";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
@section includeBOTTOM {
    @Scripts.Render("~/bundles/JSInputMask")
}


<div class="row">
    <div class="col-sm-12 col-md-6">
        @{Html.RenderPartial("Delete_input");}        
    </div> <!-- End col -->
</div> <!-- End row -->


@section scripts {

<!-- Modal -->
@{Html.RenderPartial("_Events");}

}
