@using APPBASE.Helpers
@using APPBASE.Svcbiz

@{
    ViewBag.Title = "Pembayaran SPP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section includeBOTTOM {
    @Scripts.Render("~/bundles/JSInputMask")
}

<div class="row">
    <div class="col-sm-12 col-md-4">
        @{Html.RenderPartial("Index_filter");}
    </div> <!-- End col -->
    <div class="col-sm-12 col-md-8">
        @{Html.RenderPartial("Index_list");}
    </div> <!-- End col -->
</div> <!-- End row -->

@section scripts {
<script type="text/javascript">
    $(document).ready(function () {
        /*=========================================
        INITIALIZE
        =========================================*/
        doSearchAbleTable('#searchValue', '', '.SEARCHABLE_ROWS');
        //$("[data-mask]").inputmask(); //Optional if contains date field(s)
        //$("#CLASSTYPE_ID").select2();
        //Select2ajaxfilter('#CLASSROOM_ID', '@Url.Action("getClassroom", "Select2ajax")', '#CLASSTYPE_ID', '', '');
        $FILTER_CLASSTYPE_ID = $("#FILTER_CLASSTYPE_ID");
        $FILTER_CLASSROOM_ID = $("#FILTER_CLASSROOM_ID");
        $HIDDEN_CLASSROOM_ID = $("#HIDDEN_CLASSROOM_ID");


        /*=========================================
        EXECUTE
        =========================================*/
        $FILTER_CLASSTYPE_ID.select2({ allowClear: true });
        $FILTER_CLASSROOM_ID.select2();
        setClassroom($FILTER_CLASSTYPE_ID.val());
        /*=========================================
        EVENTS
        =========================================*/
        $FILTER_CLASSTYPE_ID.on('select2:select', function (e) {
            setClassroom($FILTER_CLASSTYPE_ID.val());
        }); //end

        $FILTER_CLASSTYPE_ID.on('change', function (e) {
            if ($FILTER_CLASSTYPE_ID.val() === "") {
                $FILTER_CLASSROOM_ID.empty();
            }
        }); //end
        /*=========================================
        FUNCTIONS
        =========================================*/
        function setClassroom(id) {
            if (id != "") {
                var filterId = $FILTER_CLASSTYPE_ID.val();
                var vsURL = BaseUrl + "Classroom/getDatalist_ByClassType/" + filterId;
                var selectdata = [];
                //AJAX Call
                $.ajax({ type: AJAXTypeGET(), url: vsURL, traditional: true })
                .done(function (data) {
                    for (var i = 0; i < data.length; i++) {
                        selectdata.push({ id: data[i].ID, text: data[i].CLASSROOM_NAME });
                    } //end loop
                    $FILTER_CLASSROOM_ID.empty().select2({ data: selectdata, allowClear: true });
                    var ClassroomId = $HIDDEN_CLASSROOM_ID.val();
                    if (ClassroomId != "") {
                        $FILTER_CLASSROOM_ID.val(ClassroomId);
                        $FILTER_CLASSROOM_ID.trigger('change.select2');
                        $HIDDEN_CLASSROOM_ID.val("");
                    } //end if
                });  //End $.ajax
            } //end if
        } //end method


    });  //End $(document).ready
</script>

}
