@model APPBASE.Models.PaymentVM
@using APPBASE.Helpers

<div class="box box-info">
    <div class="box-header">
        <h3 class="box-title">
            <table>
                <tr>
                    <td colspan="2">
                        Checklist SPP @Html.DisplayFor(fld=>fld.FILTER_YEAR_DESC)
                    </td>
                </tr>
                <tr>
                    <td>Kelas</td>
                    <td>: @Html.DisplayFor(fld=>fld.FILTER_CLASSTYPE_NAME)</td>
                </tr>
                <tr>
                    <td>Kelompok</td>
                    <td>: @Html.DisplayFor(fld=>fld.FILTER_CLASSROOM_NAME)</td>
                </tr>
            </table>
        </h3>
        <div class="box-tools">
        </div>
    </div><!-- /.box-header -->
    <div class="box-body table-responsive">
        @{Html.RenderPartial("Tunggakan_list_items");}
    </div><!-- /.box-body -->
    <div class="box-footer">
    </div><!-- /.box-footer -->
</div><!-- /.box -->
