<div class="row">
    <div = class="col-xs-12 col-md-4">
        @{Html.RenderPartial((string)ViewBag.Viewlocation + "_Inputs_profile" + (string)ViewBag.Viewextention);}
    </div> <!--  End row -->
</div> <!-- End col -->

<hr />

<div class="row">
    <div = class="col-xs-12 col-md-4">
        @{Html.RenderPartial((string)ViewBag.Viewlocation + "_Inputs_trnheader" + (string)ViewBag.Viewextention);}
    </div> <!--  End row -->
</div> <!-- End col -->

<div class="row">
    <div = class="col-xs-12 col-md-12">
        @{Html.RenderPartial((string)ViewBag.Viewlocation + "_Inputs_trndetail" + (string)ViewBag.Viewextention);}
    </div> <!--  End row -->
</div> <!-- End col -->
