@using APPBASE.Helpers
@using APPBASE.Svcbiz

@{
    ViewBag.Title = "Transaksi Pembayaran";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section includeBOTTOM {
    @Scripts.Render("~/bundles/JSInputMask")
}

@{string vsClassBP_STS = "";}

@{string sControllername = "Transaction_in";}
@{if (ViewBag.Controllername != null) { sControllername = ViewBag.Controllername; }}

<div class="box box-info">
    <div class="box-header">
        <h3 class="box-title">Filter Data</h3>
        <div class="box-tools">
        </div>
    </div><!-- /.box-header -->
@using (Html.BeginForm("Index", sControllername, FormMethod.Post))
{
    <div class="box-body table-responsive">
            @{Html.RenderPartial((string)ViewBag.Viewlocation + "Filter_inputs" + (string)ViewBag.Viewextention);}
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" id="btnSubmit" name="btnSubmit" class="btn btn-success btn-flat"> <i class="fa fa-bars"></i> View Siswa</button>
                </div>
            </div><!-- /.row -->
            <hr />
                @{Html.RenderPartial((string)ViewBag.Viewlocation + "index_list" + (string)ViewBag.Viewextention);}
    </div><!-- /.box-body -->
    <div class="box-footer">
    </div><!-- /.box-footer -->
}
</div><!-- /.box -->

@section scripts {

<script type="text/javascript">
    $(document).ready(function () {
        /*=========================================
        INITIALIZE
        =========================================*/
        doSearchAbleTable('#searchValue', '', '.SEARCHABLE_ROWS');
        $("[data-mask]").inputmask(); //Optional if contains date field(s)
        $("#CLASSTYPE_ID").select2();
        Select2ajaxfilter('#CLASSROOM_ID', '@Url.Action("getClassroom", "Select2ajax")', '#CLASSTYPE_ID', '', '');

        /*=========================================
        EVENTS
        =========================================*/
        //OUTSTANDING
        $(".btnOutstanding").click(function () {
            $("#FILTER_ACTION_TYPE").val("3");
            $("#FILTER_ID").val($(this).val());
            $("#btnSubmit").click();
        }); //End  $("#btnCreate").click
        //CREATE
        $(".btnCreate").click(function () {
            $("#FILTER_ACTION_TYPE").val("1");
            $("#FILTER_ID").val($(this).val());
            $("#btnSubmit").click();
        }); //End  $("#btnCreate").click

        //EDIT
        $(".btnEdit").click(function () {
            $("#FILTER_ACTION_TYPE").val("21");
            $("#FILTER_ID").val($(this).val());
            $("#btnSubmit").click();
        }); //End  $("#btnEdit").click
    });  //End $(document).ready
</script>

}
