@model APPBASE.Models.StudentVM
@using APPBASE.Helpers
@using APPBASE.Svcbiz

@{string vsErrClass = "";}
@{string vsDisableButton = "";}
@{string vsDateFormat = "'alias': 'dd/mm/yyyy'";}

<br />
<div class="row">
    <div class="col-xs-12">
        <span class="pull-left">DATA TAMBAHAN</span>
        <span class="pull-right"></span>
    </div> <!-- ./ -->
</div><!-- /.row -->


<!-- ---------------------------------------------------------------- -->

<div class="row">
    <div class="col-xs-5">
        <span class="pull-left indent">Sekolah sebelumnya</span>
        <span class="pull-right">:</span>
    </div> <!-- ./ -->
    <div class="col-xs-7">
        @Model.DETAIL.PREV_SCHOOL_NAME
    </div> <!-- ./ -->
</div><!-- /.row -->
<div class="row">
    <div class="col-xs-5">
        <span class="pull-left indent">Alamat Sekolah</span>
        <span class="pull-right">:</span>
    </div> <!-- ./ -->
    <div class="col-xs-7">
        @Model.DETAIL.PREV_SCHOOL_ADDR
    </div> <!-- ./ -->
</div><!-- /.row -->
