@using APPBASE.Helpers
<!-- title row -->
<div class="row">
    <div class="col-sm-12">
        <h3 class="page-header">
            <img src="@Url.Content("~/")@hlpConfig.SessionInfo.getAppResIMG()" class="img-circle" alt="Foto User" />
        </h3>
    </div><!-- /.col -->
</div>

