@model IEnumerable<APPBASE.Models.StudentdetailVM>
@using APPBASE.Helpers
@using APPBASE.Svcbiz
@using APPBASE.Svcutil

@{
    ViewBag.Title = "Classmates";
    Layout = "~/Views/Shared/_Layout2cols.cshtml";
}


<div class="box box-success">
    <div class="box-header">
        <h3 class="box-title"></h3>
    </div><!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <input type="text" id="searchValue" name="table_search" class="form-control input-sm" placeholder="Filter Data"/>
                            </div>
                        </div>
                        
                    </th>
                </tr>
            </thead>

            <tbody>
                @if (Model == null)
                {
                    <tr>
                        <td colspan="2" align="center">@{Html.RenderPartial("_PartialEmpty");}</td>
                    </tr>
                }

                @foreach (var item in Model)
                {
                    <tr>
                        <td class="SEARCHABLE_ROWS">
                            <img src="@Url.Content("~/")@Utility_FileUploadDownload.getImage_Student(item.STUDENT_IMG)" alt="user image" class="img-circle" style="height:50px; width:50px"/>
                            @Html.DisplayFor(modelItem => item.NAME)<br />
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div><!-- /.box-body -->
</div><!-- /.box -->

@section scripts {

<script type="text/javascript">
    $(document).ready(function () {
        /*=========================================
        INITIALIZE
        =========================================*/
        doSearchAbleTable('#searchValue', '', '.SEARCHABLE_ROWS');

        /*=========================================
        EVENTS
        =========================================*/
    });   //End $(document).ready
</script>

}
