@using APPBASE.Svcbiz
@{
    ViewBag.Title = "Data Siswa Pindah";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section includeBOTTOM {
    @Scripts.Render("~/bundles/JSInputMask")
}

@if (ViewBag.CRUDSavedOrDelete == valFLAG.FLAG_TRUE) {
    string sTes = ViewBag.CRUDAction;
    Html.RenderPartial(sTes); 
}

<div class="row">
    <div class="col-sm-12">
          
    @using (Html.BeginForm("Index_pindah", "Student", FormMethod.Post))
    {
        Html.RenderPartial("Index_pindah_filter");
    }
    </div> <!-- /.col-sm-12 col-md-4 -->
</div> <!-- ./row -->

<div class="row">
    <div class="col-sm-12">
        @if (Model.LIST != null) { Html.RenderPartial("Index_pindah_list"); }
    </div> <!-- /.col-sm-12 col-md-8 -->
</div> <!-- ./row -->

<!-- Modal -->
@{Html.RenderPartial("_PartialDialogLookup");}


@section scripts {

<!-- Modal -->
@{Html.RenderPartial("_Events");}

}
