@using APPBASE.Helpers
@using APPBASE.Svcbiz

@{
    ViewBag.Title = "Data Siswa";
    //Layout = "~/Views/Shared/_Layout2cols.cshtml";
    Layout = "~/Views/Shared/_LayoutPrintable.cshtml";
}


@section includeTOP{
    <link href="@Url.Content("~/")Content/print.css" rel="stylesheet" type="text/css" />
}
        
<table>
    
</table>
