<div class="row">
    <div class="col-sm-12">
        <h3>Do'a sebelum bermain dan belajar</h3>
        
        <h3 class="text-green" style="text-align:right;">رَبِّ زِدْنِيْ عِلْمًا وَارْزُقْنِيْ فَهْمًا</h3>
        <i>“Rabbii zidnii ‘ilman warzuqnii fahman”</i>

        <div class="alert alert-warning alert-dismissible">
            <h4><i class="icon fa fa-quote-left"></i> <i>Artinya</i></h4>
            Ya Allah tambahkanlah ilmuku dan karuniakanlah pemahaman bagiku
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->

<hr />

<div class="row">
    <div class="col-sm-12">
        <h3>Do'a sebelum makan</h3>
        
        <h3 class="text-green" style="text-align:right;">اللّهُمَّ بَارِكْ لَنَا فِيْمَا رَزَقْتَنَا وَقِنَا عَذَابَ النَّارِ</h3>
        <i>“Allahumma baariklanaa fiimaa razaqtanaa waqinaa ‘adzaabannaar”</i>

        <div class="alert alert-warning alert-dismissible">
            <h4><i class="icon fa fa-quote-left"></i> <i>Artinya</i></h4>
            Ya Allah berkahilah rizki yang Engkau berikan dan peliharalah kami dari siksa api neraka
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->

<hr />

<div class="row">
    <div class="col-sm-12">
        <h3>Do'a sesudah makan</h3>
        
        <h3 class="text-green" style="text-align:right;">الحَمْدُ لِلهِ الذِّي أَطْعَمَنَا وَ سَقَانَا وَ جَعَلَنَا مِنَ المُسْلِمِيْنَ</h3>
        <i>“Alhamdulillahilladzii ath’amanaa wa saqoonaa wa ja’alanaa minal muslimiin”</i>

        <div class="alert alert-warning alert-dismissible">
            <h4><i class="icon fa fa-quote-left"></i> <i>Artinya</i></h4>
            Segala puji bagi Allah yang telah memberikan kami makan dan minum dan menjadikan kami sebagai umat islam
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->

<hr />

<div class="row">
    <div class="col-sm-12">
        <h3>Do'a sebelum pulang sekolah</h3>
        
        <h3 class="text-green" style="text-align:right;">بِسْمِ اللهِ تَوَكَّلْتُ عَلَى اللهِ لاَ حَوْلَ وَ لاَ قُوَّةَ إِلاَّ بِاللهِ</h3>
        <i>“Bismillahi tawakkaltu ‘alallah laa haula walaa quwwata illaa billaah”</i>

        <div class="alert alert-warning alert-dismissible">
            <h4><i class="icon fa fa-quote-left"></i> <i>Artinya</i></h4>
            Dengan menyebut nama Allah aku berserah diri kepada Allah tidak ada daya dan upaya kecuali atas izin Allah
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->

<hr />

<div class="row">
    <div class="col-sm-12">
        <h3>Do'a masuk kamar mandi</h3>
        
        <h3 class="text-green" style="text-align:right;">اللّهُمَّ إِنِّيْ أَعُوْذُبِكَ مِنَ الخُبُثِ وَ الخَبَاىثِ</h3>
        <i>“Allahumma inni ‘auudzubika minal khubutsi wal khabaaits”</i>
    </div> <!-- ./col -->
</div> <!-- ./row -->

<hr />




<div class="row">
    <div class="col-sm-12">
        <h3>Do'a keluar kamar mandi</h3>
        
        <h3 class="text-green" style="text-align:right;">الحَمْدُ للهِ الَّذِي أَذْهَبَ عَنِّي الآذَى وَ عَافَانِيْ</h3>
        <i>“Alhamdulillahilladzii adzhaba ‘anil adzaa wa ‘aafaanii”</i>
    </div> <!-- ./col -->
</div> <!-- ./row -->

<hr />

<div class="row">
    <div class="col-sm-12">
        <h3>Do'a naik kendaraan</h3>
        
        <h3 class="text-green" style="text-align:right;">بِسْمِ اللهِ مَجْرهَا وَ مُرْسَاهَا إِنَّ رَبِّيْ لَغَفُوْرٌ رَحِيْمٌ</h3>
        <i>“Bismillahi majriihaa wa mursaahaa inna rabbi laghofuurur rohiim”</i>
    </div> <!-- ./col -->
</div> <!-- ./row -->

<hr />

<div class="row">
    <div class="col-sm-12">
        <h3>Do'a sebelum tidur</h3>
        
        <h3 class="text-green" style="text-align:right;">بِاسْمِكَ اللّهُمَّ أَحْيَا وَ بِاسْمِكَ أَمُوْتُ</h3>
        <i>”Bismika Allaahumma ahya wabismika amuut”</i>

        <div class="alert alert-warning alert-dismissible">
            <h4><i class="icon fa fa-quote-left"></i> <i>Artinya</i></h4>
            Dengan menyebut nama Allah aku hidup dan dengan menyebut nama Allah aku mati
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->

<hr />

<div class="row">
    <div class="col-sm-12">
        <h3>Do'a bangun tidur</h3>
        
        <h3 class="text-green" style="text-align:right;">الحَمْدُلِلهِ الذِّيْ أَحْيَانَا بَعْدَ مَا أَمَاتَنَا وَ إِلَيْهِ النُّشُوْرُ</h3>
        <i>”Alhamdulillahii ladzii ahyanaa ba’damaa amaatanaa wailahin nusyuur”</i>

        <div class="alert alert-warning alert-dismissible">
            <h4><i class="icon fa fa-quote-left"></i> <i>Artinya</i></h4>
            Segala puji bagi Allah yang telah menghidupkan kami setelah kami dimatikan dan hanya kepadanya kami kembali
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->

<hr />

<div class="row">
    <div class="col-sm-12">
        <h3>Do'a untuk kedua orang tua</h3>
        
        <h3 class="text-green" style="text-align:right;">رَبِّ اغْفِرْلِيْ وَ لِوَالِدَيَّ وَارْحَمْهُمَا كَمَا رَبَّيَانِيْ صَغِيْرًا</h3>
        <i>”Robbighfirlii waliwaalidayya warhamhumaa kamaa rabbayaanii shoghiiroo”</i>

        <div class="alert alert-warning alert-dismissible">
            <h4><i class="icon fa fa-quote-left"></i> <i>Artinya</i></h4>
            Ya Allah ampunilah dosaku dan dosa kedua orang tuaku sayangilah mereka sebagaimana mereka menyayangiku diwaktu kecil
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->

<hr />

<div class="row">
    <div class="col-sm-12">
        <h3>Do'a ketika berpakaian</h3>
        
        <h3 class="text-green" style="text-align:right;">
            اللّهُمَّ إِنِّيْ أَسْأَلُكَ مِنْ خَيْرِهِ وَ خَيْرِ مَا هُوَ لَهُ وَ أَعُوْذُبِكَ مِنْ
            شَرِّهِ وَ شَرِّ مَا هُوَ لَهُ
        </h3>
        <i>“Allahumma innii as-aluka min khairihi wakhairi maa huwa lahu wa-a’uudzubika min syarrihi wa syarri maa huwa lahu”</i>
    </div> <!-- ./col -->
</div> <!-- ./row -->

<hr />

<div class="row">
    <div class="col-sm-12">
        <h3>Do'a ketika bercermin</h3>
        
        <h3 class="text-green" style="text-align:right;">اللّهُمَّ كَمَا حَسَّنْتَ خَلْقِيْ فَحَسِّنْ خُلُقِيْ</h3>
        <i>“Allahumma kamaa hassanta khalqii fa hassin khuluqii”</i>

        <div class="alert alert-warning alert-dismissible">
            <h4><i class="icon fa fa-quote-left"></i> <i>Artinya</i></h4>
            Ya Allah sebagaimana Engkau memperindah tubuhku maka perindahlah akhlakku
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->

<hr />

<div class="row">
    <div class="col-sm-12">
        <h3>Niat puasa</h3>
        
        <h3 class="text-green" style="text-align:right;">نَوَيْتُ صَوْمَ غَدٍ عَنْ أَدَاءِ فَرْضَ شَهْرِ رَمَضَانَ هذِهِ السَّنَةِ لِلهِ تَعَالَى</h3>
        <i>”Nawaitu Showma ghodin an adaai fardha syahri ramadaana hadzihis sanati lillahita’alaa”</i>
    </div> <!-- ./col -->
</div> <!-- ./row -->

<hr />

<div class="row">
    <div class="col-sm-12">
        <h3>Niat wudhu</h3>
        
        <h3 class="text-green" style="text-align:right;">نَوَيْتُ الوُضُوْءَ لِرَفْعِ الحَدَثِ الأَصْغَرِ فَرْضًا لِلهِ تَعَالَى</h3>
        <i>“Nawaitu wudhuua  li raf-i’l hadatsi ashghori fardho lillahi ta’aalaa”</i>
    </div> <!-- ./col -->
</div> <!-- ./row -->

<hr />

<div class="row">
    <div class="col-sm-12">
        <h3 style="text-align:center;">BACAAN SHOLAT</h3>
        <h3>Bacaan ruku'</h3>
        
        <h3 class="text-green" style="text-align:right;">سُبْحَانَ رَبِّيَ العَظِيْمِ وَ بِحَمْدِهِ</h3>
        <i>”Subhaanaa rabbiyal ’azhiimi wa bihamdih 3x”</i>
    </div> <!-- ./col -->
</div> <!-- ./row -->

<hr />

<div class="row">
    <div class="col-sm-12">
        <h3>Bacaan sujud</h3>
        
        <h3 class="text-green" style="text-align:right;">سُبْحَانَ رَبِّيَ الأَعْلَى وَ بِحَمْدِهِ</h3>
        <i>”Subhaanaa rabbiyal  a’laa wa bihamdih 3x”</i>
    </div> <!-- ./col -->
</div> <!-- ./row -->



