@using APPBASE.Helpers
@using APPBASE.Svcbiz

@{
    ViewBag.Title = "Do'a Harian";
    Layout = "~/Views/Shared/_Layout2cols.cshtml";
}
@section includeBOTTOM {
    @Scripts.Render("~/bundles/JSInputMask")
}


@if (ViewBag.CRUDSavedOrDelete == valFLAG.FLAG_TRUE) {
      Html.RenderPartial("_PartialConfirmSaved"); 
}

<div class="box box-info">
    <div class="box-header">
        <h3 class="box-title"></h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        @{Html.RenderPartial("_Inputs");}
    </div><!-- /.box-body -->
    <div class="box-footer">
    </div><!-- /.box-footer -->
</div><!-- /.box -->

@section scripts {

<!-- Modal -->
@{Html.RenderPartial("_Events");}

}
