/* 
    Page: Page
*/
        @page{
            size: A4 portrait;
            margin: 2cm 1cm;
            padding: 0cm;
            
            font-family: Sans;
        }

@media print {
	.page-break	{ display: block; page-break-before: always; }
}
