<div class="row">
    <div class="col-sm-12 col-md-12">@{Html.RenderPartial("_InputsSKH");}</div>
</div><!-- /.row -->
<hr />
<div class="row">
    <div class="col-sm-12 col-md-12">@{Html.RenderPartial("_InputsSTUDENT");}</div>
</div><!-- /.row -->
<hr />
<div class="row">
    <div class="col-sm-12 col-md-12">@{Html.RenderPartial("_InputsRATE");}</div>
</div><!-- /.row -->

