@model APPBASE.Models.SkhVM
@using APPBASE.Helpers
@using APPBASE.Svcbiz

<div class="box box-success">
    <div class="box-header">
        <h3 class="box-title">List Data</h3>
    </div><!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th><input type="text" id="searchValue" name="table_search" class="form-control input-sm pull-right" style="width: 150px;" placeholder="Filter Data"/></th>
                </tr>
            </thead>

            <tbody>
                @if (Model.LIST == null) {
                    <tr>
                        <td colspan="2" align="center">@{Html.RenderPartial("_PartialEmpty");}</td>
                    </tr>
                }

                @foreach (var item in Model.LIST)
                {
                    
                    <tr>
                        <td class="SEARCHABLE_ROWS" colspan="2">
                            <a href="@Url.Action("Details", new { id = item.ID })" class="btn btn-flat btn-sm btn-success" style="margin-left:5px; color:White;"><i class="fa fa-eye"></i> View Detail</a> @Html.DisplayFor(modelItem => item.MEDIA)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div><!-- /.box-body -->
</div><!-- /.box -->
