@model APPBASE.Models.BasicmaterialdetailVM

<h1 style="text-align:center;">@Html.DisplayFor(model => model.TITLE)</h1>
@Html.Raw(HttpUtility.HtmlDecode(Html.DisplayFor(model => model.FULL_DESC).ToHtmlString()))
