@model APPBASE.Models.Transaction_indetailVM
@using APPBASE.Helpers

@{string vsErrClass = "";}
@{string vsDisableButton = "";}
@{Boolean isShowDropdown = true;}
@{string vsReadonlyTextboxKey = "Readonly";}
@{string vsReadonlyTextbox = "";}
@if (ViewBag.CRUD_type == hlpFlags_CRUDOption.CREATE) { vsReadonlyTextboxKey = ""; }
@if ((ViewBag.CRUD_type == hlpFlags_CRUDOption.VIEW) || (ViewBag.CRUD_type == hlpFlags_CRUDOption.DELETE)) { vsDisableButton = "disabled"; vsReadonlyTextbox = "Readonly"; isShowDropdown = false; }
@{string vsDateFormat = "'alias': 'dd/mm/yyyy'";}

<input type="hidden" id="STUDENT_ID" name="STUDENT_ID", value="@Model.STUDENT_ID" />
<div class="row">
    <div class="col-xs-12 col-md-4">
        <div class="form-group">
            <label for="YEAR_ID">Nama</label>
        </div> <!-- /.form-group -->
    </div>
    <div class="col-xs-12 col-md-8">: Budi Santoso Kusuma @Html.DisplayFor(modelitem=> modelitem.STUDENT_NAME)</div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-4">
        <div class="form-group">
            <label for="YEAR_ID">Kelas</label>
        </div> <!-- /.form-group -->
    </div>
    <div class="col-xs-12 col-md-8">: Playgroup @Html.DisplayFor(modelitem=> modelitem.CLASSTYPE_DESC)</div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-4">
        <div class="form-group">
            <label for="YEAR_ID">Kelompok</label>
        </div> <!-- /.form-group -->
    </div>
    <div class="col-xs-12 col-md-8">: Playgroup B @Html.DisplayFor(modelitem=> modelitem.CLASSROOM_DESC)</div>
</div>

