<div class="box box-info">
    <div class="box-header">
        <h3 class="box-title">Daftar Siswa</h3>
        <div class="box-tools">
        </div>
    </div><!-- /.box-header -->
    <div class="box-body table-responsive">
        @{Html.RenderPartial("Index_list_items");}
    </div><!-- /.box-body -->
    <div class="box-footer">
    </div><!-- /.box-footer -->
</div><!-- /.box -->
