@model APPBASE.Models.Transaction_indetailVM

@if (Model.DETAIL != null) {
    if (Model.DETAIL.Count > 0) {
        <div class="box box-info">
            <div class="box-header">
            </div><!-- /.box-header -->
            <div class="box-body">
                @{Html.RenderPartial("Rekap_hist_list");}
            </div><!-- /.box-body -->
            <div class="box-footer">
            </div><!-- /.box-footer -->
        </div><!-- /.box -->
    }
}
