@{
    ViewBag.Appname = "Kindup";
}

@using APPBASE.Helpers
@using APPBASE.Svcutil
@using APPBASE.Svcbiz
@using APPBASE.Models

@{
    AnnouncementDS oDS = new AnnouncementDS();
    var oAnnouncement = oDS.getDatalist();
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>@ViewBag.Appname</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        @RenderSection("includeTOP", required: false)
    </head>
    <body onload="window.print();">
        @RenderBody()
        @RenderSection("includeBOTTOM", required: false)
    </body>
</html>
