
<table>

    <tr>
        <td style="text-align:center;">
            <h6 style="text-align:center;">KATA PENGANTAR</h6>
        </td>
    </tr>

    <tr>
        <td style="text-align:justify;">
            <p style="text-indent: 50px;">
            Adalah suatu anugrah yang tidak dapat dilukiskan dengan kata-kata untuk mendapatkan kepercayaan membantu mendidik seorang anak, terutama dalam Pendidikan Anak Usia Dini.
            </p>

            <p style="text-indent: 50px;">
            Sebagai lembaga yang selalu berusaha memberikan yang terbaik, kami meminta kepercayaan penuh, komunikasi dua arah dan komitmen dari Ayah dan Bunda agar kiat bersama dapat menstimulus dan mencapai target perkembangan anak-anak kita sesuai usianya masing-masing.
            </p>

            <p style="text-indent: 50px;">
            Kami sadar kami masih harus tumbuh, belajar dan belajar lagi dan kami membuka pintu kami untuk masukan dan saran-saran positif demi memajukan dan mengembangkan Pendidikan Anak Usia Dini dan menjadikan anak-anak kita anak yang sholeh/sholeha bermanfaat bagi Agama, Orang Tua dan sekitarnya. Aamiin Allahumma Aamiin.
            </p>

            <p style="text-indent: 50px;">
            Terima kasih kami haturkan atas perhatian dan kerjama yang baik dari Ayah dan Bunda.
            </p>

            <p>
            Wassalamu’alaikum Wr. Wb.
            </p>

            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />


            <div class="row">
                <div class="col-sm-12">
                    <span class="pull-right">Jakarta, 14 July 2016</span>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <span class="pull-right">Head of Kindup</span>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <br /><br /><br />
                    <span class="pull-right">(Name)</span>
                </div>
            </div>

            <br />
            <br />
            <br />
        </td>
    </tr>


</table>
