            <h6 style="text-align:center;">
                <div>TATA TERTIB Murid BMP</div>
                <div>Paud, Playgroup dan TK</div>

            </h6>

<table>
    <tr>
        <td colspan="2">
            <h6>I. WAKTU BELAJAR</h6>
        </td>
    </tr>

    <tr>
        <td></td>
        <td>
            <p>Setiap anak wajib hadir disekolah 10 (sepuluh) menit sebelum pelajaran dimulai.</p>
        </td>
    </tr>

    <tr>
        <td></td>
        <td>
            <h6>Murid Paud:</h6>
            <p>Selasa, Kamis pukul 10.00-10.30 dan hari Sabtu pukul 10.00-11.00</p>
            
        </td>
    </tr>

    <tr>
        <td></td>
        <td>
            <h6>Murid Playgroup:</h6>
            <p>
                <ul>
                    <li>Playgroup A: Senin, Rabu, Jum’at pukul 08.00-10.00</li>
                    <li>Playgroup B: Senin, Rabu, Jum’at pukul 10.00-12.00</li>
                    <li>Playgroup C: Selasa, Kamis, Sabtu pukul 08.00-10.00 </li>
                </ul>
            </p>
        </td>
    </tr>

    <tr>
        <td></td>
        <td>
            <h6>Murid TK A:</h6>
            <p>
                <ul>
                    <li>Hari Senin-Kamis, masuk pukul 10.00–12.25 </li>
                    <li>Hari Jum’at belajar dimulai pukul 09.30–11.25</li>
                    <li>Hari Sabtu libur</li>
                </ul>
            </p>
        </td>
    </tr>

    <tr>
        <td></td>
        <td>
            <h6>Murid TK B:</h6>
            <p>
                <ul>
                    <li>Hari Senin-Kamis, waktu belajar pukul 07.15–09.55</li>
                    <li>Hari Jum’at, waktu belajar pukul 07.15–09.25</li>
                    <li>Hari Sabtu libur</li>
                </ul>
            </p>
        </td>
    </tr>

</table>


